@model List<WatchShop2.Models.Product>

@{
  void renderStars(float stars)
  {
    for (int i = 1; i <= 5; i++)
    {
      if (i <= stars)
      {
        <i class='fas fa-star'></i>
      }
      else if (i - stars == 0.5)
      {
        <i class='fas fa-star-half-alt'></i>
      }
      else
      {
        <i class='far fa-star'></i>
      }
    }
  }
}

<div class='swiper'>
  <div class='swiper-wrapper'>
    @foreach (Product product in Model)
    {
      string[] alts = @product.ProductImages.Split(',');

      <div class='product-item swiper-slide'>
        <div class='product__thumb-container'>
          <a href="/product/@product.ProductSlug" class='product__img'>
            <img src='~/image/products/@alts[0]' alt='@alts[0]' class='img-main'>
            <img src='~/image/products/@alts[1]' alt='@alts[1]' class='img-secondary'>
          </a>
          <div class='product__functions'>
            <a href="/product/@product.ProductSlug" class='product__quickview'>
              <i class='fas fa-eye'></i>
            </a>
            @if (new Random().Next(0, 1) == 0)
            {
              <a class='product__cart' href='SignIn.aspx'>
                <i class='fas fa-shopping-cart'></i>
              </a>
            }
            else
            {
              <button class='product__cart' type='submit' name='order' value='{pr.Id}' formaction='Cart.aspx'>
                <i class='fas fa-shopping-cart'></i>
              </button>
            }
          </div>
        </div>
        <div class='product__desc'>
          <div class='product__rating'>
            @{
              renderStars((new Random().Next(0, 10) / 2f));
            }
          </div>
          <a href='DetailProduct.aspx' class='product__name'>@product.ProductName - @product.ColorName -
            @product.SizeName</a>
          <div class='product__price-box'>
            @if (product.Discount != 0)
            {
              <span class='product__price'>@product.Price.ToString("N0")₫</span>
            }
            <span class='product__price-sale'>@product.PriceSale.ToString("N0")₫</span>
          </div>
        </div>
        @if (product.Discount != 0)
        {
          <div class='product__flags'>
            <span class='product__onsale'>On sale!</span>
            <span class='product__discount'>-@product.Discount%</span>
          </div>
        }
      </div>
    }
  </div>
</div>