@using X.PagedList;
@using X.PagedList.Mvc.Core;

@model IPagedList<Color>


@{
  ViewData["Title"] = "Colors";
  ViewBag.NavActive = "Color";
}


<h3 class="page-title">Colors</h3>
<div class="breakcrumb">
  <span class="breakcrumb-root">Manage</span>
  <i class="fa-solid fa-angles-right"></i>
  <span><a href="/admin/attributes/colors">Colors</a></span>
</div>
<div class="content">
  <div class="actions">
    <button class="button button-gb create-button">Create</button>
  </div>
  <div class="card list-container">
    <div class="card-header">
      <span class="card-title">Color List</span>
    </div>
    <div class="card-body">
      <div class="card-body-scroll">
        <table class="table">
          <thead>
            <tr>
              <th>Id</th>
              <th>Name</th>
              <th>Color Value</th>
              <th>Products</th>
              <th>Active</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            @foreach (var color in Model)
            {
              <tr>
                <td>@color.ColorId</td>
                <td>@color.ColorName</td>
                <td>
                  <div class="color-box" style="background: @color.ColorValue;"></div>
                </td>
                <td>@color.Quantity</td>
                <td>
                  @if (color.Active)
                  {
                    <span class="badge badge-success">Active</span>
                  }
                  else
                  {
                    <span class="badge badge-danger">Unactive</span>
                  }
                </td>
                <td>
                  <div class="table-actions">
                    <a href="/admin/attributes/colors/@color.ColorId" class="action-item view bg-info text-info">
                      <i class="fa-regular fa-eye "></i>
                    </a>
                    <a href="" class="action-item delete bg-danger  text-danger">
                      <i class="fa-solid fa-trash"></i>
                    </a>
                  </div>
                </td>
              </tr>
            }
          </tbody>
        </table>
      </div>
    </div>
    <div class="card-footer">
      @Html.PagedListPager(Model, page => Url.Action("Colors",
             new { page }),
             new PagedListRenderOptions
      {
        LiElementClasses = new string[] { "page-item" },
        PageClasses = new string[] { "page-link" },
        MaximumPageNumbersToDisplay = 5,
        DisplayLinkToPreviousPage = PagedListDisplayMode.Always,
        DisplayLinkToNextPage = PagedListDisplayMode.Always
      })
    </div>
  </div>
</div>

@section JS {
  <script>
  </script>
}