@using X.PagedList;
@using X.PagedList.Mvc.Core;

@model IPagedList<UserWithRoleName>


@{
  ViewData["Title"] = "Customers";
  ViewBag.NavActive = "Customer";
}

<h3 class="page-title">Customers</h3>
<div class="breakcrumb">
  <span class="breakcrumb-root">Manage</span>
  <i class="fa-solid fa-angles-right"></i>
  <span><a href="/admin/user/customers">Customers</a></span>
</div>
<div class="content">
  <div class="card list-container">
    <div class="card-header">
      <span class="card-title">Customer List</span>
    </div>
    <div class="card-body">
      <div class="card-body-scroll" id="user_list_card">
        <table class="table">
          <thead>
            <tr>
              <th>Id</th>
              <th>FirstName</th>
              <th>LastName</th>
              <th>Email</th>
              <th>Gender</th>
              <th>Birthdate</th>
              <th>Active</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            @foreach (var user in Model)
            {
              <tr>
                <td>@user.UserId</td>
                <td>@user.FirstName</td>
                <td>@user.LastName</td>
                <td>@user.Email</td>
                <td>@(user.Gender ? "Male" : "Female")</td>
                <td>@user.Birthdate</td>
                <td>
                  @if (user.Active)
                  {
                    <span class="badge badge-success">Active</span>
                  }
                  else
                  {
                    <span class="badge badge-danger">Unactive</span>
                  }
                </td>
                <td>
                  <div class="table-actions">
                    <a href="/admin/user/customers/@user.UserId" class="action-item view bg-info text-info">
                      <i class="fa-regular fa-eye "></i>
                    </a>
                    @if (user.Active)
                    {
                      <div class="action-item bg-danger  text-danger" onclick="banOrUnbanUser(@user.UserId, true)">
                        <abbr title="Ban User">
                          <i class="fa-solid fa-user-slash"></i>
                        </abbr>
                      </div>
                    }
                    else
                    {
                      <div class="action-item bg-danger  text-success" onclick="banOrUnbanUser(@user.UserId, false)">
                        <abbr title="Unban User">
                          <i class="fa-solid fa-user-slash"></i>
                        </abbr>
                      </div>
                    }
                  </div>
                </td>
              </tr>
            }
          </tbody>
        </table>
      </div>
    </div>
    <div class="card-footer">
      @Html.PagedListPager(Model, page => Url.Action("Customers",
             new { page }),
             new PagedListRenderOptions
      {
        LiElementClasses = new string[] { "page-item" },
        PageClasses = new string[] { "page-link" },
        MaximumPageNumbersToDisplay = 5,
        DisplayLinkToPreviousPage = PagedListDisplayMode.Always,
        DisplayLinkToNextPage = PagedListDisplayMode.Always
      })
    </div>
  </div>
</div>

@section JS {
  <script>
    const userListCardDOM = document.querySelector("#user_list_card");

    function getUsersCard() {
      const page = getParam("page") ?? 1

      AjaxGet(`/admin/api/user/get-customers?page=${page}`, (responseText) => {
        userListCardDOM.innerHTML = responseText

        const itemsDOM = userListCardDOM.querySelectorAll(".item")

        itemsDOM.forEach(item => {
          const userId = item.dataset.userid;
          const viewDOM = item.querySelector(".action-item.view")

          viewDOM.href = `/admin/user/customers/${userId}`;
        })
      })
    }

    // Ban/ Unban User
    function banOrUnbanUser(UserId, isBan) {
      if (confirm(`Are you sure you want to ${isBan ? "ban" : "unban"} this user?`)) {
        AjaxPost("/admin/api/user/ban-unban",
          { UserId, Active: !isBan },
          (responseText) => {
            const data = JSON.parse(responseText)
            if (data.success) {
              getUsersCard()
            } else {
              console.log("fail");
            }
          })
      }
    }
  </script>
}